<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="user" class="personal-info">
    <div class="avatar">
      <ion-avatar item-start>
        <div class="avatar-wrapper">
          <img src="{{user.image}}">
          <div class="camera-icon">
            <ion-icon name="md-camera"></ion-icon>
          </div>
        </div>
      </ion-avatar>
    </div>

    <div class="infos">
      <h2>{{user.name}}</h2>
      <p>{{user.bio}}</p>
      <ion-item class="toggle-wrapper">
        <ion-label>حامی می شوم</ion-label>
        <ion-toggle (ionChange)="changeMentoredStatus($event)" [(ngModel)]="mentoring"></ion-toggle>
      </ion-item>
      <ion-item class="toggle-wrapper">
        <ion-label>حامی می خواهم</ion-label>
        <ion-toggle (ionChange)="changeMentoringStatus($event)" [(ngModel)]="mentored"></ion-toggle>
      </ion-item>
    </div>
    <ion-item >
      <button ion-button (click)="goToChat(user.name)">گفت وگوها</button>
    </ion-item>
  </div>

  <ion-card *ngFor="let post of posts;let pindex = index" >
    <ion-item  (click)="goToPersonal(post.userId.phoneNumber)">
      <ion-avatar item-start>
        <img src="{{post.userId.image}}">
      </ion-avatar>
      <h2>{{post.userId.name}}</h2>
      <p>{{post.pdate}}</p>
      <span *ngIf="post.from">
      <h2 (click)="goToPersonal(post.from.phoneNumber)" >ارسال شده از :{{post.from.name}}</h2>
      </span>
    </ion-item>
    <img src="{{post.file}}">
    <ion-card-content>
      <p>{{post.content}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button *ngIf="post.liked.indexOf(user._id)===-1" (click)="like(post._id,pindex)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="ios-heart-outline"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
        <button *ngIf="post.liked.indexOf(user._id)!==-1" (click)="unlike(post._id,pindex)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="ios-heart"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="sharePost(post)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="card-operations" align-self-center text-center>
        <button (click)="repost(post)" ion-button icon-start clear small>
          <ion-icon name="share-alt"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
