<ion-content padding>
  <ion-card *ngFor="let post of posts;let pindex = index" >
    <ion-item  (click)="goToPersonal(post.userId.phoneNumber)">
      <ion-avatar item-start>
        <img src="{{post.userId.image}}">
      </ion-avatar>
      <h2>{{post.userId.name}}</h2>
      <p>{{post.pdate}}</p>
      <span *ngIf="post.from">
      <h2 (click)="goToPersonal(post.from.phoneNumber)" >ارسال شده از :{{post.from.name}}</h2>
      </span>
    </ion-item>
    <img src="{{post.file}}">
    <ion-card-content>
      <p>{{post.content}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button *ngIf="post.liked.indexOf(user._id)===-1" (click)="like(post._id,pindex)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="ios-heart-outline"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
        <button *ngIf="post.liked.indexOf(user._id)!==-1" (click)="unlike(post._id,pindex)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="ios-heart"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button class="card-operations" ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4</div>
        </button>
      </ion-col>
      <ion-col class="card-operations" align-self-center text-center>
        <button (click)="repost(post)" ion-button icon-start clear small>
          <ion-icon name="share-alt"></ion-icon>
          <div>9</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab right bottom>
    <button (click)="addNewPost()" class="new-post" ion-fab>
      <ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
