@font-face {
  font-family: 'iranYekan';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/iranyekanwebregular(fanum).woff2') format('woff2'),
  url('../assets/fonts/iranyekanwebregular(fanum).woff') format('woff'),
  url('../assets/fonts/iranyekanwebregular(fanum).ttf') format('truetype');
}

* {
  font-family: iranYekan;
}
.tab-button[aria-selected=true] .tab-button-icon,.tab-button[aria-selected=true]
{
  color: #ff5f5f!important;
}
.scroll-content
{
  z-index: 9999;
}
.fixed-header {
  background-image: url('/assets/imgs/logo.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 0vh;
  background-size: 30vh 25vh;
  height: 30vh;
  width: 100%;
  position: relative;
}
.body-with-fixed-header{
  top: 30vh;
  margin-top: 30vh;
}
.toolbar
{
  direction: ltr;
}
ion-header *
{
  background: transparent!important;
}
ion-header:after
{
  display: none;
}
