<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="user" class="infos">
    <ion-item>
      <ion-avatar item-start>
        <div class="avatar-wrapper">
          <img src="{{user.image}}">
        </div>
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.bio}}</p>

      <button  *ngIf="user._id!==suser._id" (click)="setMentorship('MENTORSHIP',user._id,suser._id)" ion-button>حامی من شو</button>
      <button   *ngIf="user._id!==suser._id" (click)="setMentorship('MENTORSHIP',suser._id,user._id)" ion-button>حامیت میشم</button>
      <div *ngIf="suser._id!==user._id">
        <button *ngIf="user._id!==suser._id" (click)="setMentorship('FRIENDSHIP',user._id,suser._id)" ion-button>دنبال کردن</button>

        <button ion-button (click)="goToChat(user.name)">گفتگو</button>
      </div>
    </ion-item>

  </div>

  <ion-card *ngFor="let post of posts;let pindex = index" >
    <ion-item  (click)="goToPersonal(post.userId.phoneNumber)">
      <ion-avatar item-start>
        <img src="{{post.userId.image}}">
      </ion-avatar>
      <h2>{{post.userId.name}}</h2>
      <p>{{post.pdate}}</p>
      <span *ngIf="post.from">
      <h2 (click)="goToPersonal(post.from.phoneNumber)" >ارسال شده از :{{post.from.name}}</h2>
      </span>
    </ion-item>
    <img src="{{post.file}}">
    <ion-card-content>
      <p>{{post.content}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button *ngIf="post.liked.indexOf(user._id)===-1" (click)="like(post._id,pindex)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="ios-heart-outline"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
        <button *ngIf="post.liked.indexOf(user._id)!==-1" (click)="unlike(post._id,pindex)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="ios-heart"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="sharePost(post)" class="card-operations" ion-button icon-start clear small>
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="card-operations" align-self-center text-center>
        <button (click)="repost(post)" ion-button icon-start clear small>
          <ion-icon name="share-alt"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
