<ion-content padding>
  <ion-card *ngIf="user" class="personal-info">
    <ion-item>
      <ion-avatar item-start>
        <div class="avatar-wrapper">
          <img src="{{user.image}}">
          <div class="camera-icon">
            <ion-icon name="md-camera"></ion-icon>
          </div>
        </div>
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.bio}}</p>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let post of posts">

    <ion-item  (click)="goToPersonal(post.userId.phoneNumber)">
      <ion-avatar item-start>
        <img src="{{post.userId.image}}">
      </ion-avatar>
      <h2>{{post.userId.name}}</h2>
      <p>{{post.pdate}}</p>
      <span *ngIf="post.from">
      <h2 (click)="goToPersonal(post.from.phoneNumber)" >ارسال شده از :{{post.from.name}}</h2>
      </span>
    </ion-item>
    <img src="{{post.file}}">
    <ion-card-content>
      <p>{{post.content}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button class="card-operations" ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{post.liked.length}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button class="card-operations" ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4</div>
        </button>
      </ion-col>
      <ion-col class="card-operations" align-self-center text-center>
        <button ion-button icon-start clear small>
          <ion-icon name="share-alt"></ion-icon>
          <div>9</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
