page-search {
  .searchbar-input
  {
    direction: rtl;
    box-shadow: none!important;
    border: 1px solid #ddd!important;
    border-radius: 4px!important;
  }
  .searchbar-search-icon
  {
    left: auto!important;
    right: 16px;
  }
  .searchbar-clear-icon
  {
    right: auto!important;
    left: 10px!important;
  }
}
