<ion-content padding>
  <form [formGroup]="myForm"
        class="ui form absolute-center">

    <div class="avatar-wrapper">
      <img src="/assets/imgs/user-icon.png">
      <div class="camera-icon">
        <ion-icon name="md-camera"></ion-icon>
      </div>
    </div>
    <div class="input-with-icon-right">
      <ion-icon name="md-person"></ion-icon>
      <ion-input class="form-control transparent-input ltr-input"
                 placeholder="نام کاربری (حروف انگلیسی،اعداد و _)"
                 [formControl]="myForm.controls['name']">
      </ion-input>
    </div>
    <div *ngIf="myForm.controls['name'].errors && myForm.controls['name'].dirty" class="message-danger">
      نام کاربری غیر مجاز
    </div>

    <div class="input-with-icon-right">
      <ion-icon name="ios-text"></ion-icon>
      <ion-textarea [formControl]="myForm.controls['bio']"
                    placeholder="بیو"
                    class="form-control transparent-input">
      </ion-textarea>
    </div>

    <button (click)="registerUser()">
      ثبت نام
    </button>
  </form>

  <div *ngIf="warningMessage" class="notification notification-error">
    <ion-icon name="ios-warning-outline"></ion-icon>
    <span>{{messageText}}</span>
  </div>
</ion-content>
